<h2 class="mt-5 mb-4">Edit container content</h2>

<div class="mb-4">
  <label>Select the container</label>
  <div class="form-group">
      <select class="form-control" (change)="onContainerSelect($event)" >
        <option *ngFor="let container of containers" [ngValue]="container.id">{{container.name}} </option>
      </select>
</div>
<div class="mb-4">
  <label>Select the drawer</label>
  <div class="form-group">
      <select class="form-control" name="part" [ngModel]="currentContainerPart" (change)="onDrawerSelect($event)">
        <option *ngFor="let part of parts" [value]="part.id">{{part.name}} [id: {{part.id}} ] </option>
      </select>
  </div>
</div>

<div class="table-wrapper-scroll-y table-bordered">
  <table class="table table-bordered table-striped " >
      <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let type of types" (click)="OnSelect(type)">
        <th scope="col">{{type.name}}</th>
        <th scope="col">{{type.description}}</th>
        </tr>
      </tbody>

  </table>
</div>